<div class="row">
	<div class="small-12 columns">
		<h2>Demo</h2>
	</div>
</div>
	
<div class="row">
	<div class="small-12 columns">
		<form method="post" action="">
		<div class="row">
			<div class="small-12 columns">
				<label>First Name
				<input class="form-control" type="text" name="first_name"/>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label>Last Name
				<input class="form-control" type="text" name="last_name"/>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label>Email
				<input class="form-control" type="text" name="email"/>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label>Password</label>
				<input class="form-control" type="password" name="password"/>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label>Password</label>
				<input class="form-control" type="password" name="password2"/>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<button type="submit"><i class="fa fa-thumbs-up"></i> Submit</button>
			</div>
		</div>
		</form>
	</div>
</div>